$bar-padding: calc($gap-xs/2);
$bar-inner-height: calc($bar-height - $bar-padding);

.bar {
    @include Window;
    margin: 0;
    padding: $bar-padding;
    min-height: $bar-height;
    margin-bottom: $gap-xs;
    border-radius: 0;
    border-width: 0;
    border-bottom-width: 0.1rem;

    @import './menu.scss';
    @import './system-info.scss';
    @import './window-title.scss';
    @import './system-tray.scss';
    @import './workspace';
    @import './notification.scss';
    @import './quick-control.scss';
    @import './battery.scss';
    @import './runner.scss';
    @import './date-time.scss';
}
