.notification-toggle {
    background-color: $charcoal;
    border-radius: $bar-inner-height;
    min-height: $bar-inner-height;
    padding: $bar-padding calc($bar-padding * 1.5);

    label {
        min-width: $bar-inner-height;
        min-height: $bar-inner-height;
        border-radius: $bar-inner-height;
        font-size: calc($font-size/1.1);
    }

    &:hover {
        background-image: linear-gradient(90deg, $lavender, $mauve);
        label {
            color: $crust;
        }
    }
}
