.quick-control {
    @include Button;

    label {
        &.low {
            color: rgba($primary, 0.6);
        }
        &.medium {
            color: rgba($primary, 0.8);
        }
        &.high {
            color: rgba($primary, 1);
        }
        &.warning {
            color: $yellow;
        }
        &.overamplified {
            color: $red;
        }
    }

    label:nth-child(2) {
        margin: calc($gap-m / 2);
    }
}
