.tray-toggle {
    background-color: $charcoal;
    border-radius: $bar-inner-height;
    min-height: $bar-inner-height;
    padding: calc($bar-padding * 1.3) calc($bar-padding * 1.5);

    .toggle,
    .item {
        min-height: $bar-inner-height;
        min-width: $bar-inner-height;
        border-radius: $bar-inner-height;
        color: $lavender;
    }

    .toggle {
        background-color: $surface1;
        &:hover {
            background-image: linear-gradient(90deg, $lavender, $mauve);
            label {
                color: $crust;
            }
        }
    }

    .item {
        margin-left: $bar-padding;
    }
}
