.system-info {
    .item {
        box {
            margin-right: $gap-m;
            border-radius: 50%;
            .icon {
                min-height: $bar-inner-height;
                min-width: $bar-inner-height;
                margin-right: $gap-xs;
                background-color: $charcoal;
                font-size: calc($font-size/1.2);
                font-weight: 600;
                border-radius: 50%;
                border: 0.1em solid $surface1;
                transition: 0.3s;
            }
        }

        &:hover {
            box {
                .icon {
                    background-color: $lavender;
                    color: $crust;
                    border-color: $lavender;
                }
            }
        }
    }
}
