.window-title {
    .icon {
        font-weight: 600;
        border-radius: 50%;
        color: rgba($lavender, 0.5);
        margin-right: $gap;
    }

    .title {
        font-size: calc($font-size/1.1);
        color: rgba($lavender, 0.8);
    }
}
