.window-title {
    .icon {
        font-weight: 600;
        border-radius: 50%;
        color: rgba($primary, 0.5);
        margin-right: $gap-m;
    }

    .title {
        font-size: calc($font-size/1.1);
        color: rgba($primary, 0.5);
        font-style: italic;
    }
}
