.workspaces {
    margin: 0 calc($gap-xs / 2);
    background-color: $charcoal;
    border-radius: $bar-inner-height;
    min-height: $bar-inner-height;
    padding: calc($bar-padding * 1.3);

    .item {
        min-width: $bar-inner-height;
        min-height: $bar-inner-height;
        border-radius: $bar-inner-height;
        font-weight: 600;

        label {
            color: rgba($primary, 0.5);
            font-size: calc($font-size/1.2);
        }

        &.occupied {
            label {
                color: $primary;
            }
        }

        &.focused {
            background-image: linear-gradient(90deg, $lavender, $mauve);
            label {
                color: $crust;
            }
        }

        &:hover {
            background-image: linear-gradient(90deg, $lavender, $mauve);
            label {
                color: $crust;
            }
        }
    }
}
