.workspaces {
    margin: 0 calc($gap-xs / 2);
    background-color: $charcoal;
    border-radius: $bar-inner-height;
    min-height: $bar-inner-height;
    padding: $bar-padding;

    .item {
        min-width: $bar-inner-height;
        min-height: $bar-inner-height;
        border-radius: $bar-inner-height;
        color: rgba($lavender, 0.5);
        font-weight: 600;

        &.occupied {
            color: $lavender;
        }

        &.focused {
            background-image: linear-gradient(90deg, $lavender, $mauve);
            color: $crust;
        }

        &:hover {
            background-image: linear-gradient(90deg, $lavender, $mauve);
            color: $crust;
        }
    }
}
